/*
*  The Thunder Watchers
*  Grady, Jordan, Matthew, Zac
*  November 19, 2018
*/

/* Zac - Styling */
/************* index.html STYLING *************/
.index {
    background-color: #EDF1F4;
    margin: 0;
    padding: 0;
}
.index_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.header_image {
    width: 100%;
    height: 275px;
}
.body_container {
    padding-left: 250px;
}
/************* NAV STYLING *************/
.nav_container {
    list-style-type: none;
    margin-top: -4px;
    padding: 0;
    overflow: hidden;
    background-color: #BCC5C6;
}
.nav_items {
    float: left;
}
/* Set color and style. */
 .nav_items a {  
    color: rgb(30, 30, 31);
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color on hover. */
li a:hover {
    background-color: #72A9EF;
}
/* Add an "active" class to the current link. */
.active {
    background-color: #AFEDF9;
}
/************* FOOTER STYLING *************/
.social {
    background-color: #BCC5C6;
    padding: 5px;
}
.social p {
    font-weight: bold;
}
/* Style all font awesome icons. */
.fa {
    padding: 20px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}
/* Add a hover effect to social media links. */
.fa:hover {
    opacity: 0.7;
}
/**** Set a specific color for each brand icon. ****/
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
/* Instagram */
.fa-instagram {
    background: rgb(196, 79, 79);
    color: white;
}
/* SoundCloud */
.fa-soundcloud {
    background: #F49739;
    color: white;
}
/* Grady - Styling*/
img {
    
    display: block;
    border-radius: 25px;
}
.gmr{
    display: flex;
    font-size: 2em;
    text-align: center;
    justify-content: center;
}

.container {
    display: flex; /* or inline-flex */
    flex-direction: column;
    align-content: space-around;
}
#bloop {
    /* border: 1px solid blue; */
    display: flex;
    /* flex-direction: column; */
}
.container2 {
    display: flex; /* or inline-flex */
    /* border: 1px solid black; */
    flex-direction: column;
    align-content: flex-end;
}


#container3 {
    border: 1px solid black;
    position: relative;
    width: 50%;
  }
#image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  #overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  #container3:hover #overlay {
    opacity: 1;
  }
  
  #text {
    color: rgb(53, 53, 73);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 7em;
  }
/* 
  #unlikely {
      font-size: 3em;
  } */
/* Jordan - Styling*/

/* Matthew - Styling*/
body {
    background-color: rgb(54, 54, 235);   
}

.header {
    color: white;
    font-size: 70px;
    border: solid 5px white;
    border-radius: 25px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    
}

.header2 {
    color: white;
    font-size: 30px;
    border: solid 5px white;
    border-radius: 25px;
    text-align: center; 
    width: 50%;
    margin: 0 auto;
}

.personal {
    color: white;
    font-size: 25px;
}

.marsh {
    height: 500px;
    border: solid 10px white;
    border-radius: 50px; 
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.skrillex {
    height: 200px;
    width: 350px;
    border: solid 5px white; 
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slushii {
    height: 200px;
    width: 350px;
    border: solid 5px white; 
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.ninja {
    height: 200px;
    width: 350px;
    border: solid 5px white; 
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}
